# **IFFOR_PY**

In [ ]:
# Main function
if __name__ == '__main__':
	
	# Take the T (test_cases) input
	test_cases = int(input())
	for i in range(test_cases):		
    		n = int(input())
    		for j in range(0,n):
        		if j != 0:
            			if j%2==1:
               				print(j**2)
            			else:
                			print(j*2)
        		else:
            			print(3+j)

2
5
3
1
4
9
8
3
3
1
4

# Calculate the distance between 2 **points**

In [ ]:
import numpy as np

def compute_distance(x1, y1, x2, y2):

  point1 = np.array((x1, y1, 0)) 
  point2 = np.array((x2, y2, 0)) 
    
  dist = np.linalg.norm(point1 - point2) 
    
  print("Distance: " + "{:.2f}".format(dist)) 

if __name__ == '__main__':
    
    for i in range(int(input())):
      x1, y1, x2, y2 = list(map(int, input().split()))

      compute_distance(x1, y1, x2, y2)

2
-1 0 5 0
Distance: 6.00
2 1 6 -2
Distance: 5.00

# **Slice the list**

In [ ]:
for i in range(int(input())):
  L = int(input())
  data = list(map(int, input().split()))

  rev = data[::-1]
  for i in range(L):
    print(rev[i], end=' ')
  print()
  
  for i in range(1, L):
    if i%3==0:
      print(data[i]+3, end=' ')
  print()
  
  for i in range(1, L):
    if i%5==0:
      print(data[i]-7, end=' ')
  print()

  print(sum(data[3:8]))

1
8
-2 4 5 6 2 -9 4 3
3 4 -9 2 6 5 4 -2
9 7
-16
6

# Arithmetic Progression with Lambda **function**

In [ ]:
from functools import reduce

def generate_AP(a1, d, n):
    AP = []
    for i in range(n):
      AP.append(i*d + a1)
    return AP

if __name__ == '__main__':
  
  test_cases = int(input())
  
  for i in range(test_cases):

    a1, d, n = list(map(int, input().split()))
    AP_series = generate_AP(a1, d, n)

    sqr_AP_series = list(map(lambda x:x**2, AP_series))

    sum_sqr_AP_series = reduce(lambda a,b : a+b,sqr_AP_series)


    for i in range(len(AP_series)):
      print(AP_series[i], end=' ')
    print()
    for i in range(len(AP_series)):
      print(sqr_AP_series[i], end=' ')
    print()
    print(sum_sqr_AP_series)

1
2 5 7
2 7 12 17 22 27 32
4 49 144 289 484 729 1024
2723

# **Decimal** to Binary converter

In [ ]:
for i in range(int(input())):
  d = int(input())
  s = "{0:b}".format(d)
  s = '0'*(8-len(s)) + s
  print(s)

2
32
00100000
3
00000011